* {
  margin: 0;
  padding: 0;
}
html, body {
  position: relative;
  width: 100%;
  height: 100%;
}
.pass {
  margin-top: 30%;
  position: fixed;
  width: 100%;
  height: 100%;
}
.pass p{
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.pass input, .pass button {
  width: 80%;
  margin: 5px 10% 5px 10%;
  height: 35px;
}
.pass input {
  text-indent: 44%;
}

.main {
  display: flex;
  flex-wrap: wrap;
}
.main a {
  width: 46%;
  margin: 2%;
}
.main a img {
  width: 100%;
}

.detail {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 96%;
  height: 100%;
  padding: 0 2% 0 2%;
  background: white;
  overflow: scroll;
}
.detail div > p {
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
}
.detail_imgs {
  display: flex;
  flex-wrap: wrap; 
}
.detail_imgs img {
  width: 96%;
  margin: 0 2% 2% 2%;
}