* {
  margin: 0;
  padding: 0;
}
html, body {
  position: relative;
  width: 100%;
  height: 100%;
}
/* 登录验证 */
.pass {
  margin-top: 30%;
  position: fixed;
  width: 100%;
  height: 100%;
}
.pass p{
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.pass input, .pass button {
  width: 80%;
  margin: 5px 10% 5px 10%;
  height: 35px;
}
.pass input {
  text-indent: 44%;
}
/* 图片总览 */
.main {
  display: flex;
  flex-wrap: wrap;
}
.main a {
  width: 46%;
  margin: 2%;
}
.main a img {
  width: 100%;
}
/* 图片的details */
.detail {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 96%;
  height: 100%;
  padding: 0 2% 0 2%;
  background: white;
  overflow: scroll;
}
.detail_imgs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.detail h2 {
  margin: 15px 0 0 20px;
}
.detail_imgs div {
  width: 100%;
}
.detail_imgs div img {
  width: 96%;
  margin: 2% 2% 2% 2%;
}